/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#navExtra ul{
     list-style: none;
}
#navExtra il{
    display: inline;
}

#mobileNavigation{
    display: inline;
}

#extraInfo li{
    display: inline-block;
    padding: 10px;
   

}
#MapCanvas{
    margin: 0 auto;
    height: 70%;
    margin-top: 5px;
}

#page-footer{
    height: 30px;
}
#extraInfo li a:hover {
    background-color: #111;
}
html, body {
   height: 100%;
}


@media(min-width:767px) {
  #map {
    height: 400px;
    margin-top: 250px;
  }
}